body {
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    gap: 10px;
}

input,
select {
    padding: 10px;
    font-size: 18px;
}